In [448]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [449]:
#Đọc file movies và keywords 
movies = pd.read_csv('../data/movies_metadata.csv')
links = pd.read_csv('../data/links_small.csv')
keywords = pd.read_csv('../data/keywords.csv')
credits = pd.read_csv('../data/credits.csv')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21216\2989940349.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('data/movies_metadata.csv')

In [450]:
print("movies:", movies.shape)
print("links :", links.shape)
print("unique tmdbId:", links['tmdbId'].nunique())

movies: (45466, 24)
links : (9125, 3)
unique tmdbId: 9112

In [451]:
# ---- LINKS ----
links['tmdbId'] = pd.to_numeric(links['tmdbId'], errors='coerce')
links = links.dropna(subset=['tmdbId'])
links['tmdbId'] = links['tmdbId'].astype(int)

# check lại
links['tmdbId'].dtype

dtype('int64')

In [452]:
movies['id'] = pd.to_numeric(movies['id'], errors='coerce')
movies = movies.dropna(subset=['id'])
movies['id'] = movies['id'].astype(int)

movies = movies[movies['id'].isin(links['tmdbId'])]

In [453]:
movies.shape

(9099, 24)

In [455]:
#Xem các cột và kiểu dữ liệu của movies
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [456]:
#Xem cột và các kiểu dữ liệu của keywords
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [457]:
#Các cột của movies
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [458]:
#Các cột của keywords
keywords.columns

Index(['id', 'keywords'], dtype='object')

In [459]:
credits.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [460]:
movies.shape
#movies có >45k dòng và 24 cột

(9099, 24)

In [461]:
keywords.shape
#Keyword có 46419 dòng và 2 cột (id, keyword)

(46419, 2)

In [462]:
movies.iloc[0]['id']
#Cột id của movies đang là kiểu str

np.int64(862)

In [463]:
# Chuyển đổi cột movie id về dạng num
movies['id'] = pd.to_numeric(movies['id'], errors ='coerce')

In [464]:
movies.iloc[0]['id']

np.int64(862)

In [465]:
keywords.iloc[0]['id']

np.int64(862)

In [466]:
#Tiến hành merge để dễ cho việc tạo soup hay tags sau này
movies = movies.merge(keyword,on='id')
movies = movies.merge(credits, on='id')
movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [467]:
movies = movies[['id','title','overview','genres','keywords','tagline','cast','crew']]

In [468]:
movies.head()

,id,title,overview,genres,keywords,tagline,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",NaN,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",Roll the dice and unleash the excitement!,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",Still Yelling. Still Fighting. Still Ready for...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...",Friends are the people who let you be yourself...,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just When His World Is Back To Normal... He's ...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [469]:
#kiểm tra dữ liệu trống
movies.isnull().sum()

id             0
title          0
overview      12
genres         0
keywords       0
tagline     2137
cast           0
crew           0
dtype: int64

In [470]:
movies.dropna(subset=['title', 'genres', 'cast', 'crew'],inplace=True)

In [471]:
movies['overview'] = movies['overview'].fillna('')
movies['keywords'] = movies['keywords'].fillna('')
movies['tagline'] = movies['tagline'].fillna('')

In [472]:
movies['genres'].head(2)

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
Name: genres, dtype: object

In [473]:
import ast

# Hàm lấy chỉ tên của các thể loại / ....
def convert(text):
    l =[]
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [474]:
movies['genres'] = movies['genres'].apply(convert)

In [475]:
movies['genres']

0                             [Animation, Comedy, Family]
1                            [Adventure, Fantasy, Family]
2                                       [Romance, Comedy]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9214    [Adventure, Fantasy, Animation, Science Fictio...
9215                                      [Comedy, Drama]
9216                                      [Comedy, Drama]
9217                                      [Comedy, Drama]
9218                                      [Comedy, Drama]
Name: genres, Length: 9219, dtype: object

In [476]:
movies['cast'].head()

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
1    [{'cast_id': 1, 'character': 'Alan Parrish', '...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3    [{'cast_id': 1, 'character': "Savannah 'Vannah...
4    [{'cast_id': 1, 'character': 'George Banks', '...
Name: cast, dtype: object

In [477]:
def convert_cast(text):
    l =[]
    count = 0
    for i in ast.literal_eval(text):
        if count < 3:
            l.append(i['name'])
            count +=1
    return l

In [478]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [479]:
movies['cast'].head()

0                  [Tom Hanks, Tim Allen, Don Rickles]
1       [Robin Williams, Jonathan Hyde, Kirsten Dunst]
2           [Walter Matthau, Jack Lemmon, Ann-Margret]
3    [Whitney Houston, Angela Bassett, Loretta Devine]
4           [Steve Martin, Diane Keaton, Martin Short]
Name: cast, dtype: object

In [480]:
movies['keywords']

0       [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1       [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       [{'id': 818, 'name': 'based on novel'}, {'id':...
4       [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
                              ...
9214    [{'id': 9663, 'name': 'sequel'}, {'id': 11451,...
9215    [{'id': 293, 'name': 'female nudity'}, {'id': ...
9216    [{'id': 293, 'name': 'female nudity'}, {'id': ...
9217    [{'id': 293, 'name': 'female nudity'}, {'id': ...
9218    [{'id': 293, 'name': 'female nudity'}, {'id': ...
Name: keywords, Length: 9219, dtype: object

In [481]:
movies['keywords'] = movies['keywords'].apply(convert)

In [482]:
movies['keywords']

0       [jealousy, toy, boy, friendship, friends, riva...
1       [board game, disappearance, based on children'...
2       [fishing, best friend, duringcreditsstinger, o...
3       [based on novel, interracial relationship, sin...
4       [baby, midlife crisis, confidence, aging, daug...
                              ...
9214                            [sequel, pokémon, celebi]
9215    [female nudity, dark comedy, family vacation, ...
9216    [female nudity, dark comedy, family vacation, ...
9217    [female nudity, dark comedy, family vacation, ...
9218    [female nudity, dark comedy, family vacation, ...
Name: keywords, Length: 9219, dtype: object

In [483]:
def fetch_director(text):
    l=[]
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
            
    return l

In [484]:
movies['crew']= movies['crew'].apply(fetch_director)

In [485]:
movies['overview']

0       Led by Woody, Andy's toys live happily in his ...
1       When siblings Judy and Peter discover an encha...
2       A family wedding reignites the ancient feud be...
3       Cheated on, mistreated and stepped on, the wom...
4       Just when George Banks has recovered from his ...
                              ...
9214    All your favorite Pokémon characters are back,...
9215    While holidaying in the French Alps, a Swedish...
9216    While holidaying in the French Alps, a Swedish...
9217    While holidaying in the French Alps, a Swedish...
9218    While holidaying in the French Alps, a Swedish...
Name: overview, Length: 9219, dtype: object

In [486]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [487]:
movies.head()

,id,title,overview,genres,keywords,tagline,cast,crew
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...",,"[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...",Roll the dice and unleash the excitement!,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...",Still Yelling. Still Fighting. Still Ready for...,"[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,31357,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...",Friends are the people who let you be yourself...,"[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,11862,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],"[baby, midlife crisis, confidence, aging, daug...",Just When His World Is Back To Normal... He's ...,"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]

In [488]:
#Xóa khoảng trắng
def remove_space(word):
    l = []
    for i in word:
        l.append(i.replace(" ",""))
    return l

In [489]:
movies['cast'] = movies['cast'].apply(remove_space)
movies['crew'] = movies['crew'].apply(remove_space)
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)

In [490]:
def split_words(text):
    l = []
    for i in text:
        l.append(i.replace(' ',','))
    return l

In [491]:
movies.head()

,id,title,overview,genres,keywords,tagline,cast,crew
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...",,"[TomHanks, TimAllen, DonRickles]",[JohnLasseter]
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...",Roll the dice and unleash the excitement!,"[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston]
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...",Still Yelling. Still Fighting. Still Ready for...,"[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch]
3,31357,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]","[basedonnovel, interracialrelationship, single...",Friends are the people who let you be yourself...,"[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker]
4,11862,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],"[baby, midlifecrisis, confidence, aging, daugh...",Just When His World Is Back To Normal... He's ...,"[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer]

In [492]:
## GÁN TAG CHO MOVIES
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies.head()

,id,title,overview,genres,keywords,tagline,cast,crew,tags
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...",,"[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...",Roll the dice and unleash the excitement!,"[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...",Still Yelling. Still Fighting. Still Ready for...,"[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch],"[A, family, wedding, reignites, the, ancient, ..."
3,31357,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]","[basedonnovel, interracialrelationship, single...",Friends are the people who let you be yourself...,"[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker],"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],"[baby, midlifecrisis, confidence, aging, daugh...",Just When His World Is Back To Normal... He's ...,"[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer],"[Just, when, George, Banks, has, recovered, fr..."

In [493]:
df = movies[['id','title','tags']]
df.head()

,id,title,tags
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
3,31357,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."

In [494]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21216\949442192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [495]:
df.iloc[0]['tags']

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. Animation Comedy Family jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife TomHanks TimAllen DonRickles JohnLasseter"

In [496]:
df['tags'] = df['tags'].apply(lambda x:x.lower())

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21216\841579467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x:x.lower())

In [497]:
df.iloc[0]['tags']

"led by woody, andy's toys live happily in his room until andy's birthday brings buzz lightyear onto the scene. afraid of losing his place in andy's heart, woody plots against buzz. but when circumstances separate buzz and woody from their owner, the duo eventually learns to put aside their differences. animation comedy family jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife tomhanks timallen donrickles johnlasseter"

In [498]:
df.loc[df['title'] == 'Toy Story', 'tags']

0    led by woody, andy's toys live happily in his ...
Name: tags, dtype: object

In [499]:
df.shape

(9219, 3)

In [500]:
import nltk
from nltk.stem import PorterStemmer

In [501]:
ps = PorterStemmer()

In [502]:
def stems(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
        
    return " ".join(l)

In [503]:
df['tags'] = df['tags'].apply(stems)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21216\2814371920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stems)

In [504]:
df.iloc[0]['tags']

"led by woody, andy' toy live happili in hi room until andy' birthday bring buzz lightyear onto the scene. afraid of lose hi place in andy' heart, woodi plot against buzz. but when circumst separ buzz and woodi from their owner, the duo eventu learn to put asid their differences. anim comedi famili jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif tomhank timallen donrickl johnlasset"

In [505]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [506]:
vector = cv.fit_transform(df['tags']).toarray()

In [507]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [508]:
vector.shape

(9219, 5000)

In [509]:
from sklearn.metrics.pairwise import cosine_similarity

In [510]:
similary = cosine_similarity(vector)

In [511]:
similary

array([[1.        , 0.05940885, 0.04313311, ..., 0.06172134, 0.06172134,
        0.06172134],
       [0.05940885, 1.        , 0.06406221, ..., 0.03055662, 0.03055662,
        0.03055662],
       [0.04313311, 0.06406221, 1.        , ..., 0.06655583, 0.06655583,
        0.06655583],
       ...,
       [0.06172134, 0.03055662, 0.06655583, ..., 1.        , 1.        ,
        1.        ],
       [0.06172134, 0.03055662, 0.06655583, ..., 1.        , 1.        ,
        1.        ],
       [0.06172134, 0.03055662, 0.06655583, ..., 1.        , 1.        ,
        1.        ]])

In [512]:
similary.shape

(9219, 9219)

In [513]:
def recommend(movie):
    index = df[df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similary[index])), reverse=True, key = lambda x:x[1])
    for i in distances[1:6]:
        print(df.iloc[i[0]].title)

In [518]:
df[df['title'] == 'Toy Story']['tags'].values[0]

"led by woody, andy' toy live happili in hi room until andy' birthday bring buzz lightyear onto the scene. afraid of lose hi place in andy' heart, woodi plot against buzz. but when circumst separ buzz and woodi from their owner, the duo eventu learn to put asid their differences. anim comedi famili jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif tomhank timallen donrickl johnlasset"

In [520]:
recommend('Avatar')

Aliens vs Predator: Requiem
Jupiter Ascending
Starman
Independence Day
Titan A.E.

In [521]:
df.iloc[0]

id                                                     862
title                                            Toy Story
tags     led by woody, andy' toy live happili in hi roo...
Name: 0, dtype: object

In [524]:
import pickle

pickle.dump(df, open('../artifacts/movie_list.pkl','wb'))
pickle.dump(similary, open('../artifacts/similary.pkl','wb'))